.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Adjust spacing between charts */
  flex-wrap: wrap; /* Ensures responsiveness */
}

.chart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.risk-label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.muscle-status {
  line-height: 20px;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px;
}
